body{
    background-color: darkgreen;
}
.quadrado{
    display: flex;
    justify-content: center;
    background-color: blue;
    align-items: center;
    width: 300px;
    margin: 615px;
    padding: 60px;
    flex-direction: column;
}
.botão{
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    
}
.contador{
    margin:100px;
    padding: 100px;
    background-color: white;
    font-size: 60px;
}
button{
    padding: 20px;
    width: 200px;
    margin: 20px;
    border: 400px;
    background-color: yellow;
    border-radius: 400px;
} 

